In [2]:
import numpy as np
import pandas as pd

In [11]:
labels_target = [64,112,74,49,60,81,21,46,19,14,66,43,48,102,57,53]

In [43]:
pth = r'D:\lauyu\work\FeiMedia\text_classification\cnn-text-classification-tf\data\id_all_text\ori\id_ClassII_20200222_all_clean.csv'
id_pd = pd.read_csv(pth)
id_pd.dropna(axis=0, how='any', inplace=True)
id_pd['labels'].replace(list(id_pd['labels'][~id_pd['labels'].isin(labels_target)]), 34, inplace=True)

In [35]:
a = set([64,112,74,49,60,81,21,46,19,14,66,34,43,48,102,57,53])
b = set([14,19,21,34,43,46,48,49,53,57,60,64,66,74,81,102,112])
a == b

True

In [44]:
data_other = id_pd[id_pd['labels'] == 34].sample(n=5000)
data_other.shape

(5000, 2)

## 单个标签划分

In [39]:
id_pd[id_pd['labels'] == 34].head(10)

                                              content  labels
6   yuk kerja nongkrong biar ngga stress hai stori...      34
9   1 palette mizzu alter ego semuka hi storie mat...      34
11  filter pas cocok banget hobbi photografi hi st...      34
15  the best local highlighter make over very blin...      34
25  gak masak gak hidup hallo mates biar gak bosan...      34
26  eyeliner expert banget hallo storiemates kalo ...      34
27  necklace that suit for all style today i want ...      34
28  ngehilangin belang dikaki 2 minggu haiii mates...      34
31  pemula makeup belajar correcting yuk pemula be...      34
33  kesalahan beauty blender beauty blender ngebla...      34

In [45]:
a = (34, 45)

In [46]:
a[1]

45

In [47]:
a = {3:4}

In [48]:
a[3]

4